.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #ccc; /* Basic border */
  border-radius: 8px;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.login-container label {
  width: 80%;
  margin-bottom: 10px;
}

.login-container input {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Basic border */
  font-size: 1rem;
  box-sizing: border-box;
}

.login-container .btn {
  width: 85%;
}

.login-container small a {
    color: #007bff; /* Basic link color */
}