.simulate-yield-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #ccc; /* Basic border */
  border-radius: 8px;
  max-width: 400px;
}

.simulate-yield-container h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.simulate-yield-container p {
  text-align: center;
  margin-bottom: 15px;
}

.simulate-yield-container input {
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Basic border */
  font-size: 1rem;
}

.simulate-yield-container .button-group {
    display: flex;
    gap: 10px;
}